    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/> <br/><br/>
              <h1>Despre noi</h1>
              <br/>
                <p><em>Impreuna in viata de zi cu zi si, mai nou, impreuna in viata porfesionala.
                  Suntem un cuplu pasionat de arta, design, si de frumos, in general.
                  Suntem perfectionisti: dorim ca munca noastra sa fie, in primul rand, la nivelul propriilor noastre asteptari. <br/>
                  Ne place sa invatam lucruri noi in fiecare zi, sa ne autodepasim.</em></p>
                <br/> <br/><br/>
              </div>
        </div>
    </section>
